@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --btn-color-active: #188ce8;
  --bg-hero: #2f303a;
  --bg-secondary: #f5f4fa;
  --text-white: #ffffff;
  --text-footer: rgba(255, 255, 255, 0.6);
  --icon-footer-background: rgba(225, 225, 225, 0.1);
  --social-primary-color: #afb1b8;
  --img-overlay: rgba(47, 48, 58, 0.4);
  --img-background: #c4c4c4;
  --pudding-section: 94px;
  --input-border: 1px solid rgba(33, 33, 33, 0.2);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

ul,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 10px;
  }
}

.header__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: none;
  font-weight: 500;
  color: var(--title-text-color);
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.logo {
  font-family: "Raleway";
  color: var(--black-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo--blue {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 24px 0 25px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav-link--current {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.contacts-list {
  display: none;
  gap: 50px;
  font-weight: 500;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

.contacts-list__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

/* Иконки Хедер */
.contacts-list__icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px;
  background-color: var(--text-white);
  z-index: 999;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu__item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
}

.current {
  color: var(--accent-color);
}

.mobile-contacts__item--blue {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: flex;
  align-items: center;
  margin-top: 64px;
  color: var(--accent-color);
}
.mobile-socials__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__link {
  padding-right: 10px;
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  background-color: var(--bg-hero);
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/herosm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/herosm2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/heromd.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/heromd2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/herolg.jpg);
    max-width: 1600px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--img-overlay), var(--img-overlay)), url(../images/herolg2x.jpg);
  }
}

.hero__title {
  width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
  }
}

.hero__button {
  min-width: 216px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  font-family: inherit;
  font-size: 16px;
  color: var(--text-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-color-active);
}

.primary-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.16;
  color: var(--title-text-color);
}

.benefits__text {
  line-height: 1.71;
}

.what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
    padding-top: 0;
  }
}

.what-we-do__list {
  display: flex;
}

.what-we-do__item {
  max-width: 370px;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__wrapper {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.cards-team {
  background-color: var(--bg-secondary);
}
.cards-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-team__item {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .cards-team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards-team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.card-control {
  padding: 30px 0;
}

.cards-team__description {
  text-align: center;
  font-size: 16px;
}

.cards-team__name {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.16;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-text-color);
}

.meta-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.meta-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--social-primary-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.meta-list__link:hover,
.meta-list__link:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
}

.meta-list__icon {
  fill: currentColor;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.customers__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--social-primary-color);
  border: 1px solid var(--social-primary-color);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers__icon {
  fill: currentColor;
}

.tabs-list {
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 767.98px) {
  .tabs-list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .tabs-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .tabs-list {
    justify-content: center;
  }
}

.btn--light {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;
  color: var(--title-text-color);
  background-color: var(--bg-secondary);
  padding: 6px 25px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-list__item:not(:last-child) {
  margin-right: 8px;
}

.btn--light:hover,
.btn--light:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-list__item {
  width: 100%;
  border: 1px solid var(--border-card);
}
@media screen and (min-width: 768px) {
  .cards-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.cards-list__link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.cards-list__link:hover,
.cards-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-white);
}

.cards-list__link:hover .project-overlay__description {
  transform: translateY(0);
}

.cards-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cards-wrapper__description {
  padding: 20px 24px;
  line-height: 2;
}

.cards-wrapper__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.footer {
  padding: 60px 0;
  color: var(--text-footer);
  background-color: var(--bg-hero);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__container {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__wrapper {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  line-height: 1.7;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__logo,
.address__link {
  color: var(--text-white);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--textcolor {
  color: var(--text-footer);
}

/* Соц.футер */
@media screen and (max-width: 767.98px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
.footer-social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
}
.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-footer-background);
  color: var(--text-white);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .control-subscribe {
    margin-left: auto;
  }
}

.form-subscribe {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
    align-items: center;
  }
}

.form-subscribe__input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
  }
}
@media screen and (max-width: 1199.98px) {
  .form-subscribe__input {
    margin-bottom: 20px;
  }
}

.form-subscribe__button {
  margin-left: 12px;
  gap: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.form-subscribe__button:hover,
.form-subscribe__button:focus {
  background-color: var(--btn-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--text-white);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--text-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .close-button {
    right: 14px;
  }
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.contact-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: var(--input-border);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.contact-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__textarea:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.7;
  gap: 8px;
}
@media screen and (max-width: 1199.98px) {
  .checkbox {
    font-size: 12px;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox__check {
  fill: var(--text-white);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--btn-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */