:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --btn-color-active: #188ce8;
  --bg-hero: #2f303a;
  --bg-secondary: #f5f4fa;
  --text-white: #ffffff;
  --text-footer: rgba(255, 255, 255, 0.6);
  --icon-footer-background: rgba(225, 225, 225, 0.1);
  --social-primary-color: #afb1b8;

  --img-overlay: rgba(47, 48, 58, 0.4);
  --img-background: #c4c4c4;

  --pudding-section: 94px;

  --input-border: 1px solid rgba(33, 33, 33, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* Утилити */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  color: var(--text-white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-color-active);
}

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.header__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-weight: 500;
  color: var(--title-text-color);
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  letter-spacing: 0.02em;
  line-height: 1.14;
}

.logo {
  margin-right: 93px;
  font-family: 'Raleway';
  color: var(--black-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.logo--blue {
  color: var(--accent-color);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 24px 0 25px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav-link--current {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link--current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.contacts-list {
  display: flex;
  gap: 50px;
  font-weight: 500;
  margin-left: auto;
}

.contacts-list__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

/* Иконки Хедер */

.contacts-list__icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--bg-hero);
  text-align: center;
  background-image: linear-gradient(var(--img-overlay), var(--img-overlay)),
    url(../images/герой.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
}

.hero__button {
  min-width: 216px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Общий заголовок */

.primary-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}

/* Особливості */

.benefits__list {
  display: flex;
  gap: 30px;
}

.thumb {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__item {
  max-width: 270px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.16;
  color: var(--title-text-color);
}

.benefits__text {
  line-height: 1.71;
}

/* Чим ми займаємось */

.what-we-do {
  padding-top: 0;
}

.what-we-do__list {
  display: flex;
}

.what-we-do__item {
  max-width: 370px;
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__wrapper {
  position: relative;
}

.what-we-do__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.cards-team {
  background-color: var(--bg-secondary);
}

.cards-team__list {
  display: flex;
}

.cards-team__item {
  max-width: 270px;
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-control {
  padding: 30px 0;
}

.cards-team__list {
  gap: 30px;
}

.cards-team__description {
  text-align: center;
  font-size: 16px;
}

.cards-team__name {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.16;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-text-color);
}

.meta-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.meta-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--social-primary-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.meta-list__link:hover,
.meta-list__link:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
}

.meta-list__icon {
  fill: currentColor;
}

/* Постоянные клиенты */

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-list .item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--social-primary-color);
  border: 1px solid var(--social-primary-color);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Портфоліо */

.tabs-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn--light {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: inherit;
  color: var(--title-text-color);
  background-color: var(--bg-secondary);
  padding: 6px 25px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-list__item:not(:last-child) {
  margin-right: 8px;
}

.btn--light:hover,
.btn--light:focus {
  color: var(--text-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
}

.cards-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  border: 1px solid var(--border-card);
}

.cards-wrapper__description {
  padding: 20px 24px;
  line-height: 2;
}

.cards-wrapper__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.cards-list__item:nth-child(3n) {
  margin-right: 0;
}

.cards-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards-list__link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.cards-list__link:hover,
.cards-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-white);
}

.cards-list__link:hover .project-overlay__description {
  transform: translateY(0);
}

/* Футер */

.footer {
  padding: 60px 0;
  color: var(--text-footer);
  background-color: var(--bg-hero);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer--right {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address {
  line-height: 1.7;
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__logo,
.address__link {
  color: var(--text-white);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--textcolor {
  color: var(--text-footer);
}

/* Соц.футер */

.social-list {
  display: flex;
  gap: 10px;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
}

.social-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-footer-background);
  color: var(--text-white);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
}

.control-subscribe {
  margin-left: 93px;
}

.form-subscribe {
  display: flex;
}

.form-subscribe__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.form-subscribe__button {
  display: flex;
  margin-left: 12px;
  gap: 12px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.form-subscribe__button:hover,
.form-subscribe__button:focus {
  background-color: var(--btn-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__icon {
  fill: currentColor;
}

/* Модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--text-white);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--text-white);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.contact-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: var(--input-border);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.contact-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__textarea:focus {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.7;
  gap: 8px;
}

.checkbox__input {
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox__check {
  fill: var(--text-white);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  border: none;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--btn-color-active);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
