.benefits__list {
  @include card-set;
}

.benefits__item {
  @include card-set-item;

  @include mq(tablet) {
    @include card-set-item(2);
  }

  @include mq(desktop) {
    @include card-set-item(4);
  }
}

.thumb {
  @include f-center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 1.16;
  color: var(--title-text-color);
}

.benefits__text {
  line-height: 1.71;
}
