.benefits__list {
    display: flex;
    gap: 30px;
}

.thumb {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--bg-secondary);
    border-radius: 4px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__item {
    max-width: 270px;
}

.benefits__title {
    margin-bottom: 10px;
    font-size: inherit;
    text-transform: uppercase;
    line-height: 1.16;
    color: var(--title-text-color);
}

.benefits__text {
    line-height: 1.71;
}