.customers__list {
  @include card-set;
}

.customers__item {
  @include card-set-item(2);

  @include mq(tablet) {
    @include card-set-item(3);
  }

  @include mq(desktop) {
    @include card-set-item(6);
  }
}

.customers__link {
  @include f-center;
  height: 92px;
  color: var(--social-primary-color);
  border: 1px solid var(--social-primary-color);
  border-radius: 4px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.customers__icon {
  fill: currentColor;
}
