.btn {
    font-family: inherit;
    font-size: 16px;
    color: var(--text-white);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-color-active);
}

.primary-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-text-color);
}