.tabs-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn--light {
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: inherit;
    color: var(--title-text-color);
    background-color: var(--bg-secondary);
    padding: 6px 25px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tabs-list__item:not(:last-child) {
    margin-right: 8px;
}

.btn--light:hover,
.btn--light:focus {
    color: var(--text-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
}

.cards-wrapper {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.card-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 370px;
    border: 1px solid var(--border-card);
}

.cards-wrapper__description {
    padding: 20px 24px;
    line-height: 2;
}

.cards-wrapper__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.cards-list__item:nth-child(3n) {
    margin-right: 0;
}

.cards-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.cards-list__link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.cards-list__link:hover,
.cards-list__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay {
    position: relative;
    overflow: hidden;
}

.project-overlay__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-white);
}

.cards-list__link:hover .project-overlay__description {
    transform: translateY(0);
}