.what-we-do {
    padding-top: 0;
}

.what-we-do__list {
    display: flex;
}

.what-we-do__item {
    max-width: 370px;
}

.what-we-do__item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do__wrapper {
    position: relative;
}

.what-we-do__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
    background-color: rgba(47, 48, 58, 0.8);
}